{% extends "base.jinja2" %}
{% block content %}


<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
        <div>
            <h1>{{_('Login')}}</h1>

            <!-- Username Input -->
            <div>
                <label>{{ form.username.label }}</label>
                {{ form.username(class_= "mt-1 p-2 w-full border rounded-md") }}
                {% for error in form.username.errors %}
                <p>[{{ error }}]</p>
                {% endfor %}
            </div>

            <!-- Password Input -->
            <div>
                <label>{{ form.password.label }}</label>
                {{ form.password(class_="mt-1 p-2 w-full border rounded-md") }}
                {% for error in form.password.errors %}
                <p>[{{ error }}]</p>
                {% endfor %}
            </div>

            <!-- Remember Me Checkbox -->
            <div>
                {{ form.remember_me(class_="mr-2") }}
                <label class="text-sm text-gray-600">{{ form.remember_me.label }}</label>
            </div>

            <!-- Submit Button -->
            <div>
                {{ form.submit(class_="bg-blue-500 text-white px-4 py-2 rounded-md w-full") }}
            </div>

        </div>

</form>







{% endblock %}
