{% extends "base.jinja2" %}
{% block content %}
{% include "preservation_planning/_submenu.jinja2" %}
<main id="content" class="content">
  <h1>Format Registry</h1>
<table>
    <thead>
    <tr>
        <th>PUID</th>
        <th>Format name</th>
        <th>Version</th>
        <th>Preservation</th>
        <th>Allowed</th>
    </tr>
    </thead>
    <tbody>
    {% if items %}
    {% for item in items %}
    <tr>
        <td>{{item.puid}}</a></td>
        <td>{{item.format_name}}</td>
        <td>{{item.format_version}}</td>
        <td>{% if item.preservation %}✔{% else %}𐄂{% endif %}</td>
        <td>{% if item.allowed %}✔{% else %}𐄂{% endif %}</td>
    </tr>
    {% endfor %}

    {% else %}d
        <td colspan="5">No Results</td>
    </tr>
    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">
            {% if prev_url %}
            <a href="{{ prev_url }}">←&nbsp;Previous</a>{% if next_url %}&nbsp;|{% endif %}
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Next&nbsp;→</a>
            {% endif %}
        </th>
    </tr>
    </tfoot>
</table>
</main>
{% endblock %}