<nav>
    <a href="{{ url_for('preservation_planning.format_registry') }}" class="text-white hover:text-gray-200">{{_('Format registry')}}</a>&nbsp;|
     <a href="{{ url_for('preservation_planning.format_registry') }}" class="text-white hover:text-gray-200">{{_('Preservation actions')}}</a>&nbsp;|
</nav>
<hr class="dashed-hr">