<nav>
    <a href="{{ url_for('main.system') }}">{{_('System&nbsp;information')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('System&nbsp;settings')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('User Management')}}</a>&nbsp;|
</nav>
<hr class="dashed-hr">
