<h3>{{_('CPU')}}</h3>
<div class="progress-container">
    <div class="progress-bar" style="width: {{cpu}}%;"></div>
</div>
<h3>{{_('RAM')}}</h3>
<div class="progress-container">
    <div class="progress-bar" style="width: {{ram}}%;"></div>
</div>