<nav>
    <a href="{{ url_for('data_management.agent_records') }}">{{_('Agent&nbsp;Records')}}</a>&nbsp;|
    <a href="{{ url_for('data_management.resources') }}">{{_('Resources')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('Accessions')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('Locations')}}</a>&nbsp;|
</nav>
<hr class="dashed-hr">