<nav>
    <a href="{{ url_for('data_management.archival_descriptions') }}">{{_('Authority Records')}}</a>&nbsp;|
    <a href="{{ url_for('data_management.archival_descriptions') }}">{{_('Resources')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('Accessions')}}</a>&nbsp;|
    <a href="{{ url_for('main.system') }}">{{_('Locations')}}</a>&nbsp;|
</nav>
<hr class="dashed-hr">