<style>
  /* Hide the default detailssummary arrow */
  summary {
    list-style: none; /* Remove default list style */
    display: flex;
    align-items: center;
    cursor: pointer;
  }

</style>

{% if parent_node %}
<form hx-post="{{url_for('data_management.add_node', parent_id=parent_node.id)}}">
{% else %}
<form hx-post="{{url_for('data_management.add_node')}}">
{% endif %}
<div id="node-detail">
<h1>Add new node</h1>
<details open>
    <summary>
        <h2>IDENTITY STATEMENT AREA</h2>
    </summary>
    <p>Reference code:</p>
    <p>Title: <input type="text" name="title"></p>
    <p>Level of description:  <select id="level_of_description" name="level_of_description">
        {% for value in lod_list %}
        <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
  </select>
    <p>Start Date:<input type="date"  name="date_start"></p></p>
    <p>End Date: <input type="date"  name="date_end"></p>
    <p>Extent and medium: <input type="text" name="extent"></p>
</details>

<details open>
    <summary>
        <h2>CONTEXT AREA</h2>
    </summary>
        <p>Name of creator(s):X</p>
        <p>Archival history:<br>
            <textarea id="archival_history" name="archival_history" rows="6" cols="60"></textarea>
        </p>
</details>
<details>
    <summary>
        <h2>NOTES</h2>
    </summary>
    <p>Content goes here...</p>
</details>

<details>
    <summary>
        <h2>ACCESS POINTS</h2>
    </summary>
    <p>Content goes here...</p>
</details>
</div>
    <button class="btn">Save 💾</button>
</form>