{% extends "base.jinja2" %}

{% block content %}

{% include "data_management/_submenu.jinja2" %}
<style>
    .tree{
  --spacing : 1.5rem;
  --radius  : 10px;
}
.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}
</style>
<div class="p-6 tree">
    {% if node.parent %}
{{ node.get_top_node().name }} / {{node.parent.name}}

{% endif %}

<ul>
    <li>
        <details open>
            <summary hx-get="{{ url_for('data_management.get_node',id=node.id)}}" hx-trigger="load" hx-target="#folderStructure_{{node.id}}" hx-swap="outerHTML">{{node.name}}</summary>
            <ul id="folderStructure_{{node.id}}">
                <!-- Content will be loaded here -->
            </ul>
        </details>
    </li>
</ul>
</div>
{% endblock %}