<style>
  /* Hide the default detailssummary arrow */
  summary {
    list-style: none; /* Remove default list style */
    display: flex;
    align-items: center;
    cursor: pointer;
  }

</style>

<details open>
    <summary>
        <h2>IDENTITY STATEMENT AREA</h2>
    </summary>
    <p>Content goes here... Content goes here.. Content goes here.. Content goes here.. Content
        goes here..</p>
</details>


<details>
    <summary>
        <h2>CONTEXT AREA</h2>
    </summary>
    <p>Content goes here...</p>
</details>

<details>
    <summary>
        <h2>CONTENT AND STRUCTURE AREA </h2>
    </summary>
    <div>
        <p>Content goes here...</p>
</details>

<details>
    <summary>
        <h2>CONDITIONS OF ACCESS AND USE AREA</h2>
    </summary>
    <p>Content goes here...</p>
</details>

<details>
    <summary>
        <h2>ALLIED MATERIALS AREA</h2>
    </summary>
    <p>Content goes here...</p>
</details>


<details>
    <summary>
        <h2>NOTES AREA</h2>
    </summary>

    <p>Content goes here...</p>

</details>


<details>
    <summary>
        <h2>ACCESS POINTS</h2>
    </summary>

    <p>Content goes here...</p>

</details>


<details>
    <summary>
        <h2>DESCRIPTION CONTROL AREA</h2>
    </summary>
    <p>Content goes here...</p>
</details>


<details>
    <summary>
        <h2>ADMINISTRATION AREA</h2>
    </summary>

    <p>Content goes here...</p>

</details>
