<!-- Navbar -->
<nav>
    {% if current_user.is_anonymous %}
    {% else %}
    <strong>
    <a href="#">{{_('Transfer')}}</a>&nbsp;|
    <a href="#">{{_('Ingest')}}</a>&nbsp;|
    <a href="#">{{_('Storage')}}</a>&nbsp;|
    <a href="#">{{_('Access')}}</a>&nbsp;|
    <a href="{{ url_for('preservation_planning.index') }}">{{_('Preservation&nbsp;planning')}}</a>&nbsp;|
    <a href="{{ url_for('data_management.index') }}">{{_('Data&nbsp;Management')}}</a>&nbsp;|
    <a href="{{ url_for('main.administration') }}">{{_('Administration')}}</a>&nbsp;|
    </strong>
        <details>
        <summary>{{current_user.username}}</summary>
        <ul>
            <li><a href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a></li>
        </ul>
    </details>
     {% endif %}
</nav>
<hr class="dashed-hr">
