<div id="node-detail-view">
    <form hx-post="/node/{{ node.id }}/edit" hx-target="#node-detail-view" hx-swap="outerHTML" method="POST">

    <details open>
        <summary class="summary-header">
            <h2>IDENTITY STATEMENT AREA</h2>
        </summary>
        <label>Title:</label>
    <input type="text" name="title" value="{{ node.title }}" required><br>

    <label>Date Start:</label>
    <input type="date" name="date_start" value="{{ node.date_start }}"><br>

    <label>Date End:</label>
    <input type="date" name="date_end" value="{{ node.date_end }}"><br>

    <label>Archival History:</label>
    <textarea name="archival_history">{{ node.archival_history }}</textarea><br>

    <label>Level of Description:</label>
    <select name="level_of_description">
        {% for lod in lod_list %}
        <option value="{{ lod }}" {% if node.level_of_description == lod %}selected{% endif %}>{{ lod }}</option>
        {% endfor %}
    </select><br>
    </details>


    <!-- Submit button for saving -->
    <button type="submit">Save 💾</button>
    <!-- Cancel button to return to view mode -->
    <button type="button" hx-get="/node/{{ node.id }}/details" hx-target="#node-detail-view" hx-swap="outerHTML">Cancel ✖</button>

</form>


</div>